
DoRothEA/database.csv
CARNIVAL based multicell network - Google Docs.pdf
Results/Optimization_results.rds
OmnipathNetworksNicheNetFormat/sig_Network_Omnipath.rds
OmnipathNetworksNicheNetFormat/lr_Network_Omnipath.rds
OmnipathNetworksNicheNetFormat/gr_Network_Omnipath.rds
OmniNetworks_NNformat/sig_Network_Omnipath.rds
OmniNetworks_NNformat/gr_Network_Omnipath.rds
OmniNetworks_NNformat/lr_Network_Omnipath.rds
Results/ligand_target_matrixNoweights.rds
Results/ligand_target_matrixWithweights.rds
Results/weighted_networksWithSourceWeights.rds
Results/weighted_networksNonSourceWeights.rds
Results/Cytoscape/annotation_table.txt
Results/Cytoscape/weighted_signaling_network.txt
Results/Cytoscape/data_source_network.txt
*.svg
WritingForPaper.odt
Presentation.odp
PlotArrangement.R
Modelization.Rout
Modelization.R
.RData
Modelization.R
Results/Cytoscape/annotation_table_Prueba1.txt
Results/Cytoscape/data_source_network_Prueba1.txt
c5.bp.v7.1.symbols.gmt
c7.all.v7.1.symbols.gmt
h.all.v7.1.symbols.gmt
LinealAdjustment.R
Results/Cytoscape/CytoResults.cys
Results/Cytoscape/file
Results/Cytoscape/Network_ToDraw.txt
Results/Cytoscape/Network_ToDrawRoche.png
Results/Cytoscape/NetworkFigure5.png
Results/Cytoscape/outfile.ps
Results/Cytoscape/Prueba.dot
Results/Cytoscape/sample.dot
Results/Enrichment_Significant_Results.rds
Results/ligand_Pearson.rds
Results/Ligand_Receptor_Matrix.rds
Results/Ligand_Target_Matrix.rds
Results/LigandActivityScoreDistribution.rds
Results/LineaModel.png
Results/MegeHeatmaps.eps
Results/ligand_Pearson.rds
Results/Ligand_Receptor_Matrix.rds
Results/Ligand_Target_Matrix.rds
04_ligandActivityAnalysis.md
04_ligandActivityAnalysis_files/figure-gfm/unnamed-chunk-10-1.png
04_ligandActivityAnalysis_files/figure-gfm/unnamed-chunk-13-1.png
04_ligandActivityAnalysis_files/figure-gfm/unnamed-chunk-16-1.png
04_ligandActivityAnalysis_files/figure-gfm/unnamed-chunk-20-1.png
04_ligandActivityAnalysis_files/figure-gfm/unnamed-chunk-23-1.png
04_ligandActivityAnalysis_files/figure-gfm/unnamed-chunk-26-1.png
04_ligandActivityAnalysis.Rmd
04_ligandActivityAnalysis_files/figure-gfm/unnamed-chunk-28-1.png
05_PlotArrangement.md
05_PlotArrangement.Rmd
05_PlotArrangement_files/figure-gfm/unnamed-chunk-2-1.png
05_PlotArrangement_files/figure-gfm/unnamed-chunk-3-1.png
05_PlotArrangement_files/figure-gfm/unnamed-chunk-4-1.png
05_PlotArrangement_files/figure-gfm/unnamed-chunk-5-1.png
05_PlotArrangement_files/figure-gfm/unnamed-chunk-6-1.png
05_PlotArrangement_files/figure-gfm/unnamed-chunk-7-1.png
07_TargetPredictionEvaluationGeneSet.md
07_TargetPredictionEvaluationGeneSet.Rmd
08_CircosPlotMulticell.md
08_CircosPlotMulticell.Rmd
08_CircosPlotMulticell_files/figure-gfm/unnamed-chunk-15-1.png
08_CircosPlotMulticell_files/figure-gfm/unnamed-chunk-16-1.png
08_CircosPlotMulticell_files/figure-gfm/unnamed-chunk-22-1.png
08_CircosPlotMulticell_files/figure-gfm/unnamed-chunk-23-1.png
CircosPlotMulticell_files/figure-gfm/unnamed-chunk-15-1.png
CircosPlotMulticell_files/figure-gfm/unnamed-chunk-16-1.png
CircosPlotMulticell_files/figure-gfm/unnamed-chunk-22-1.png
ExplorationCOVID19.R
Results/Cytoscape/Network_ToDraw.ps
Results/Cytoscape/Prueba1.cys
Results/ligand_tumorExpression.rds
Results/target_expression.rds
GSE147507_RawReadCounts_Human.tsv
CircosPlotMulticell_files/figure-gfm/unnamed-chunk-23-1.png
README.html
Results/counts_norm_A549vsCOV2.rds
Results/counts_norm_CALU3vsCOV2.rds
Results/counts_norm_NHBEvsCOV2.rds
Results/dds_results_A549vsCOV2.rds
Results/dds_results_CALU3vsCOV2.rds
Results/dds_results_NHBEvsCOV2.rds
